@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 12px;
    box-sizing: border-box;
    font-family: 'Inter Tight', Arial, Helvetica, sans-serif;
    background-color: #000000;
    font-size: 16px;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 32px;
}

.title {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .title {
        font-size: 20px;
    }
}
