* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #030608;
    background-color: #F2F2F2;
    font-size: 14px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: color 0.2s ease;
    line-height: 1.4;
    z-index: 1;
}

a:hover {
    color: #145EEE;
    transition: color 0.2s ease;
}

:target {
    scroll-margin-block: 56px;
}

::-moz-selection {
    color: #FFFFFF;
    background: #145EEE;
}

::selection {
    color: #FFFFFF;
    background: #145EEE;
}

@media screen and (max-width: 991px) {
    body {
        margin: 16px;
    }
}