---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import BaseHead from '../components/BaseHead.astro';

import '../styles/global.css';
import '../styles/mainpage.css';
---
<!DOCTYPE html>
<html lang="en">
	<BaseHead title=""/>
	<body>
        <div>
            <aside>
                <Header />
            </aside>
            <main>
                <Hero />
                {/* <Projects /> */}
                <About />
                <Contact />
                <Footer />
            </main>
        </div>   
	</body>
</html>

<style lang="scss">
    div {
        display: flex;
        flex-direction: row;
    }

    main {
        flex-direction: column;
        margin: 0 auto;
    }

    @media screen and (max-width: 991px) {
        div {
            width: 100%;
            margin: 0;
            max-width: none;
            flex-direction: column;
            gap: 24px;
        }

        main {
            margin: 0;
            margin-bottom: 80px;
        }

        aside {
            position: fixed;
            bottom: 16px;
            left: 0;
            z-index: 1000;
            width: 100%;
        }
    }
</style>