---
const currentYear = new Date().getFullYear();
---

<footer>
    <div class="container">
        <p>
            © {currentYear}, Galiev Ranis
        </p>
    </div>
</footer>

<style>
    p {
        padding-top: 24px;
        border-top: solid 1px rgba(3, 6, 8, 0.1);
        font-size: 14px;
        color: rgba(3, 6, 8, 0.5);
        margin: 0px;
    }
</style>