---
const title = "Galiev Ranis";
const copywright = "All Rights Reserved";
const currentYear = new Date().getFullYear();
---

<footer>
    <div class="container">
        <p>
            © {currentYear} {title}. {copywright}
        </p>
    </div>
</footer>

<style>
    p {
        padding: 24px 0px;
        border-top: solid 1px #DBDFE7;
        font-size: 14px;
        line-height: 1.2;
    }
</style>