---

---

<header>
    <a class="logo" href="/">
        <svg width="100%" height="100%" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="20" fill="#145EEE"/>
            <path d="M26.6394 25.8821C26.4646 24.4874 23.4514 25.1461 20.5561 25.1827C23 22.0109 25.0332 19.2824 24.6144 14.5043C24.285 10.686 21.0644 8.34778 17.2216 10.5802C9.33279 15.1631 10.2762 27.7852 17.3355 23.4789C17.5063 24.2312 17.6689 24.9997 17.7015 25.6016C17.5551 25.7032 17.2176 25.8903 17.0427 25.9919C16.0668 26.5897 16.6239 27.9032 17.5063 27.6388C17.8885 27.5209 17.9861 27.4721 18.1732 27.4071C18.5798 28.8628 19.0393 31.3027 20.2958 31.3637C20.7391 31.3393 21.1417 31.0384 21.0603 30.4731C20.7228 29.4972 20.0437 28.2325 19.877 27.0085C21.2392 26.8296 23.915 26.6914 25.3219 26.7402C26.1271 26.8581 26.7858 26.5246 26.6476 25.8903L26.6394 25.8821ZM19.6127 21.4782C20.1779 20.7015 21.8858 18.6114 21.0603 17.8794C19.8973 16.993 19.3565 19.384 18.6652 20.0428C18.592 19.5101 18.4253 17.3752 18.3562 15.8747C18.344 15.3705 17.8438 14.9638 17.3518 15.0574C16.1359 15.3623 16.6605 16.7083 16.7662 17.7859C16.8719 18.8635 16.9329 19.9249 16.9817 20.5917C17.0508 21.523 16.4653 22.0109 15.3511 22.3281C14.2369 22.6453 13.6188 21.7181 13.4846 20.6609C13.2935 19.4897 13.4439 18.3227 13.8099 17.2166C14.1068 16.322 14.5622 15.4884 15.1112 14.728C20.6212 7.10752 27.3673 14.4433 19.1979 24.1092C19.1125 23.7839 18.958 22.8486 18.8889 22.4298L19.6167 21.4823L19.6127 21.4782Z" fill="white"/>
            <path d="M24.5452 22.7388C25.0576 23.8286 26.6272 23.2186 26.4158 22.0597C26.1637 20.3437 23.8255 21.2871 24.5452 22.7388Z" fill="white"/>
        </svg>
    </a>
    <nav>
        <ul>
            {/* <li><a href="#projects">Projects</a></li> */}
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            {/* <li><a href="/" target="_blank">Download CV</a></li> */}
        </ul>
    </nav>
</header>

<style lang="scss">
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 48px);
        position: sticky;
        top: 24px;
        left: 0;
    }

    .logo {
        height: 56px;
        width: 56px;
    }

    nav {
        display: flex;
        align-items: center;

        a {
            font-weight: 600;
            text-decoration: none;
            background-color: #E6E6E6;
            padding: 16px 24px;
            border-radius: 100px;
            transition: all 0.2s ease;

            &:hover {
                background-color: #145EEE;
                color: #FFFFFF;
            }
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    @media screen and (max-width: 991px) {
        header {
            width: calc(100% - 16px);
            flex-direction: row;
            height: 48px;
            justify-content: space-between;
            background-color: #FFFFFF;
            padding: 8px;
            height: auto;
            border-radius: 1000px;
            box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.05);
            margin: 0 auto;
        }

        nav a {
            padding: 14px 16px;
            line-height: 20px;
            background-color: #F2F2F2;
        }

        ul {
            flex-direction: row;
            gap: 0;

            // li:last-child {
            //     display: none;
            // }
        }

        .logo {
            height: 48px;
            width: 48px;
        }
    }

    @media screen and (max-width: 359px) {
        nav a {
            padding: 10px 12px;
            font-size: 14px;
            line-height: 20px;
        }

        .logo {
            height: 40px;
            width: 40px;
        }
    }
</style>