---
---

<section>
    <img src="/galiev-ranis-image.png" alt="Galiev Ranis" width="100%" height="100%">
    <h1>
        <span>Hey, I'm Galiev Ranis.</span> Multidisciplinary designer with&nbsp;a&nbsp;strong focus on user experience. I've been creating interfaces, websites and products for over 8&nbsp;years
    </h1>
</section>

<style lang="scss">
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 96px;
    }

    h1 {
        color: #030608;
    }

    span {
        color: #929494;
    }

    img {
        width: 400px;
        max-height: 400px;
        object-fit: cover;
        border-radius: 24px;
        margin-bottom: 48px;
        filter: grayscale(1);
        pointer-events: none;
        aspect-ratio: 1 / 1;
    }

    @media screen and (max-width: 991px) {
        h1 {
            font-size: 40px;
            letter-spacing: -0.8px;
        }

        img {
            margin-bottom: 48px;
            width: 400px;
            max-height: 100%;
            aspect-ratio: 1 / 1;
        }
    }

    @media screen and (max-width: 767px) {
        h1 {
            font-size: 28px;
            letter-spacing: -0.5px;
        }

        img {
            width: 100%;
            aspect-ratio: 4 / 3;
            border-radius: 16px;
            margin-bottom: 32px;
        }

        section {
            margin-bottom: 56px;
        }
    }
</style>