---
---

<section >
    <h3>Galiev Ranis</h3>
    <h1>Designer with more than 7 years of experience. I&nbsp;conduct research, design interfaces and develop products that are convenient to use</h1>
    <div class="blob">
        <script type="module" src="https://unpkg.com/@splinetool/viewer@1.0.42/build/spline-viewer.js"></script>
        <spline-viewer url="https://prod.spline.design/fFikq6ces6GYKIw1/scene.splinecode"></spline-viewer>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 480px;
        padding: 32px;
        background-color: #000;
        color: #fff;
        border-radius: 32px;
        position: relative;
        overflow: hidden;
    }

    h1 {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: -1.6px;
        z-index: 1;
    }

    h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -1.2px;
        color: rgba(255, 255, 255, 0.4);
        z-index: 1;
    }

    .blob {
        position: absolute;
        z-index: 0;
        pointer-events: none;
        left: 200px;
        top: 0;
        width: 1280px;
    }
</style>