---
const { title, description, link } = Astro.props;
---

<a href={`http://localhost:4321/projects/${link}`} class="project__link">
    <h2 class="project__title">{title}</h2>
    <p class="project__description">{description}</p>
</a>